{{!< default}}

<article class="article {{post_class}}">

  {{#post}}

    <h1 class="article-title style-md-githubheadings">{{{title}}}</h1>

    <section class="article-content">
      {{content}}
    </section>

    <footer class="article-meta">
      <time class="article-date" datetime="{{date format="YYYY-MM-DD"}}">
        {{date format='MMMM DD, YYYY'}}
      </time>
      <div class="article-tags">
        {{tags prefix="" separator=", "}}
      </div>
    </footer>

    <section id="article-comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_shortname = 'mrnordstrom';

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>

  {{/post}}

</article>
