{{!< default}}

<article class="article {{post_class}}">

  {{#post}}

    <h1 class="article-title style-md-githubheadings">{{{title}}}</h1>

    <section class="article-content">
      {{content}}
    </section>

    <footer class="article-meta">
      <time class="article-date" datetime="{{date format="YYYY-MM-DD"}}">
        {{date format='MMMM D, YYYY'}}
      </time>
      <div class="article-tags">
        {{tags prefix="" separator=", "}}
      </div>
    </footer>
  {{/post}}

</article>
